/* Reset predvolených štýlov pre všetky prehliadače */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

