/* Reset predvolených štýlov pre všetky prehliadače */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



/* definovanie použitých farieb v celej stránke do premenných */
:root{
    --navbar-bg: #FFFFFF;
    --navbar-font-color: #999999;
    --logo-orange-color: #FF5401;
    --logo-dark-grey-color-trans: rgba(72, 76, 88, 0.85);

    
}



/* box shadow pre celú stránku */
.box-shadow{
    -webkit-box-shadow: 0px 7px 20px -14px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 7px 20px -14px rgba(0,0,0,0.62);
    box-shadow: 0px 7px 20px -14px rgba(0,0,0,0.62);
}
