footer{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    /* border: 1px red solid; */
}

footer p {
    color: var(--navbar-font-color);
}

footer li{
    color: var(--navbar-font-color);
}

footer h4{
    color: var(--logo-orange-color);
}


.logo_contacts-section{
   min-width: 550px;
   max-width: 550px;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px blue solid; */
}

.logo {
    /* background-color: aqua;
    opacity: 0.5; */
    width: 250px;
    height: 100%;
    padding: 15px;
  }
  
  .logo-inner {
    width: 100%;
    height: 100%;
    background-image: url(../../src/assets/arbet-big-logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .contact_info{
    width: 100%;
    height: 100%;
    /* background-color: azure; */
    /* opacity: 0.5; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-left: 1px var( --border-navigation-color) solid;
  }
 
  .sector{
    height: 50%;
    padding: 30px;
  }

  .contact_info_sector{
    width: 50%;
    
    /* background-color: blanchedalmond; */
    /* border: 1px black solid; */
  }

  .contact_info_sector:nth-child(3){
    width: 100%;
    
    /* background-color: blanchedalmond; */
  }


  .contact_info_sector h4{
    padding-bottom: 17px;
  }

  .contact_info_sector p span{
    display: inline-block;
   width: 182px;
  }

  .contact_info_sector p a{
    text-decoration: none;
    color: var(--logo-dark-grey-color-trans);
  }

  .contact_info_sector p a:hover{
    color: var(--logo-orange-color);
    transition: 0.2s ease all;
  }

  .contact_info_sector p a:not(:hover){
    color: var(--logo-dark-grey-color-trans);
    transition: 0.8s ease all;
  }






.fast-navigation-section{
    max-width: 170px;
    min-width: 170px;
   
    height: 100%;
    
    padding: 30px;
    border-left: 1px var( --border-navigation-color) solid;
}

.fast-navigation-section h4{
    text-align: center;
    padding-bottom: 10px;
}

.fast-navigation-section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fast-navigation-section ul li{
    padding: 6px 0;
    text-transform: uppercase;
}

.fast-navigation-section ul li a{
  text-decoration: none;
  color: var(--navbar-font-color);
}

.fast-navigation-section ul li a:hover{
  color: var(--logo-orange-color);
  transition: .2s ease all;
}

.fast-navigation-section ul li a:not(:hover){
  color: var(--navbar-font-color);
  transition: .8s ease all;
}



.map-section{
    width: 65%;
    height: 100%;
}







  




.map{
    background-color: green;
}