
/* Hlavná navigácia */

.main-logo{
    z-index: 10;
}

.navbar{
    width: 100%;
    height: 105px;
    background-color: var(--navbar-bg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.navbar .nav-wrapper{
    width: 1200px;
    max-width: 1200px;
    padding: 0 20px;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-wrapper a{
    z-index: 10;
}

/* logo image */
.navbar .nav-wrapper img{
    width: 70px;
}

.navbar .nav-wrapper ul{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}



.navbar .nav-wrapper ul li{
   list-style-type: none;
   padding: 0 20px;
   text-transform: uppercase;
}

.navbar .nav-wrapper ul li a{
    text-decoration: none;
    color: var(--navbar-font-color);
    font-size: 18px;
    letter-spacing: 1px;
}




/* aktívny odkaz bude mať štýly ako pri hoveri */
.navbar .nav-wrapper ul li a:hover,
.navbar .nav-wrapper ul li .active{
    color: var(--logo-orange-color);
    letter-spacing: 8px;
    font-weight: bold;
    transition: .5s ease all;
    text-shadow: 0 10px 10px rgba(0,0,0,0.2);
}


.navbar .nav-wrapper ul li a:not(:hover){
    transition: .2s linear all;
}






