.slideshow {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    touch-action: pan-x; /* Podpora swipe */
    z-index: -1;
  }
  
  .slideshow-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    position: relative;
    display: flex; /* Umožňuje centrovať nadpis */
    align-items: center; /* Vertikálne centrovanie */
    justify-content: center; /* Horizontálne centrovanie */
  }
  
  .slideshow-title {
    width: 100%;
    padding: 5px 20px;
    font-size: 3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; /* Uistíme sa, že je nad obrázkom */
    text-align: center;
    text-transform: uppercase;

  }
  