/* zmeny pod 1000px šírky */
@media (max-width: 1000px) { 
    .slideshow-image {
        height: auto; /* Aby sa zachoval pomer strán */
        aspect-ratio: 1.844/1; /* Nastaví pomer strán */
    }
      
    .slideshow {
        width: auto;
        height: auto;
      }

      .slideshow-title {
        font-size: 2rem;
      }

 }